@import "config";
@import "utulities";
@import "form";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: $primary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px $primary-color;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  top: 0;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    margin: 0 0.25rem;
    padding: 0.45rem;

    &:hover {
      color: $primary-color;
    }
  }
}

.landing {
  height: 100vh;
  position: relative;
  background: url("../img/software.jpg") no-repeat center center;

  &-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
}

//profiles page
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  align-items: center;
  line-height: 1.7;
}

//profile page
.profile-grid {
  display: grid;
  grid-template-areas: "top top" "about about" "exp edu" "github github";
  grid-gap: 1rem;

  .profile-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-area: top;

    .icons a {
      color: #fff;
      margin: 0 0.3rem;

      &:hover {
        color: $dark-color;
      }
    }

    img {
      width: 250px;
    }
  }

  .profile-about {
    grid-area: about;
    text-align: center;

    .skills {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .profile-exp {
    grid-area: exp;
  }

  .profile-edu {
    grid-area: edu;
  }

  .profile-exp,
  .profile-edu {
    & > div {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px #ccc dotted;
    }

    &:last-child {
      border: none;
    }

    p {
      margin: 0.5rem 0;
    }
  }

  .profile-github {
    grid-area: github;

    .repo {
      display: flex;
      justify-content: space-between;
    }
  }
}

//posts page
.post-form-header {
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;

  & > div:first-child {
    text-align: center;
  }

  img {
    width: 150px;
  }
}

@import "mobile";
